:root {
  --white: #FFF;

  --pink: #D80E87;
  --pink-hover: #C90D7E;
  --pale-pink: #FEF5FB;
  --pale-pink-hover: #FDE8F6;

  --blue: #1169EE;
  --pale-blue: #F5F9FE;

  --green: #128609;
  --pale-green: #F6FEF5;

  --grey: #444;
  --pale-grey: #F0F0F0;
}