@use '../settings/variables/breakpoints';

// Style principal

:root {
  font-size: 10px;
}

body * {
  font-family: 'SourceSans', Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--grey);
}

.page-template-template-falc {
  background-color: var(--pale-pink);
}

a {
  text-decoration: none;
  outline: none;
}

// Mise en page générale des contenus

.homepage,
.login,
.register,
.missions,
.awareness,
.resources,
.contact {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 4rem;

  @include breakpoints.tablet {
    gap: 6rem;
    margin-bottom: 6rem;
  }

  @include breakpoints.desktop {
    gap: 8rem;
    margin-bottom: 8rem;
  }

  &__content {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    gap: 4rem;

    @include breakpoints.tablet {
      padding: 0 4rem;
      gap: 6rem;
    }

    @include breakpoints.desktop {
      padding: 0 8rem;
      gap: 8rem;
    }
  }
}