@use '../settings/variables/breakpoints';

.main-title {
  color: var(--pink);
  font-family: Mikado, Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4%;
  font-size: 2.4rem;
  text-align: center;

  @include breakpoints.tablet {
    font-size: 3.6rem;
  }

  @include breakpoints.desktop {
    font-size: 4.8rem;
  }
}

.secondary-title {
  font-family: Mikado, Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 4%;
  font-size: 1.6rem;

  @include breakpoints.tablet {
    font-size: 2rem;
  }

  @include breakpoints.desktop {
    font-size: 2.4rem;
  }
}

.third-title {
  font-family: Mikado, Arial, Helvetica, sans-serif;
  letter-spacing: 4%;
  font-size: 1.4rem;

  @include breakpoints.tablet {
    font-size: 1.6rem;
  }

  @include breakpoints.desktop {
    font-size: 2rem;
  }
}

.third-title {
  font-weight: 700;
}

.card-title {
  font-family: Mikado, Arial, Helvetica, sans-serif;
  letter-spacing: 4%;
  font-weight: 900;
  font-size: 1.6rem;

  @include breakpoints.tablet {
    font-size: 2rem;
  }

  @include breakpoints.desktop {
    font-size: 2.4rem;
  }
}

.text,
.stage-text,
.falc-text {
  max-width: 600px;
  font-size: 1.4rem;
  color: var(--grey);

  @include breakpoints.tablet {
    font-size: 1.6rem;
  }

  @include breakpoints.desktop {
    font-size: 2rem;
  }
}

.text,
.stage-text {
  font-family: SourceSans, Arial, Helvetica, sans-serif;
}

.text,
.falc-text {
  font-weight: 400;
}

.stage-text {
  font-weight: 600;
}

.stage-secondary-text,
.card-secondary-text {
  font-family: Mikado, Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 4%;
  font-size: 1.4rem;

  @include breakpoints.tablet {
    font-size: 1.6rem;
  }

  @include breakpoints.desktop {
    font-size: 2rem;
  }
}

.stage-secondary-text {
  color: var(--pink);
  max-width: 600px;
}

.falc-title {
  color: var(--pink);
  font-weight: 600;
  font-size: 2rem;

  @include breakpoints.tablet {
    font-size: 2.4rem;
  }

  @include breakpoints.desktop {
    font-size: 2.8rem;
  }
}

.falc-title,
.falc-text {
  font-family: Arial, Helvetica, sans-serif;
}